__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
.env.local
*.log
media/
staticfiles/
.venv/
venv/
env/
.idea/
.vscode/
*.pyc
cpanel error.txt
.dbsynced
static/audio/
/WEAK MEN VS DISTORTED WOMEN  With Pastor T Mwangi - Pastor T Mwangi.mp3
